<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>built_in_filters</h1>
           <h2>{{hai}}</h2>
           <h2>{{hai|lower}}</h2>
           <h2>{{hai|upper}}</h2>
           <h2>{{hai|capfirst}}</h2>
           <h2>{{hai|length}}</h2>
           <h2>{{hai|truncatewords:'2'}}</h2>
           <h2>{{hai|truncatechars:'3'}}</h2>
           <h2>{{hai|slice:'2'}}</h2>
           <h2>{{dt|date:'H Y D M'}}</h2>
    </center>
</body>
</html>